{% extends 'base.html' %}
{% block content %}

    <h1>{{ finch.name }}'s Details</h1>

    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ finch.name }}</span>
                    <p>Breed: {{ finch.breed }}</p>
                    <p>Description: {{ finch.description }}</p>
                    <p>Color: <span class="dot {{ finch.color.lower }}"></span>&nbsp;{{ finch.color }}</p>
                    {% if finch.size_inches > 1 %}
                    <p>Size: {{ finch.size_inches }} inches</p>
                    {% else %}
                    <p>Size: {{ finch.size_inches }} inch</p>
                    {% endif %}
                </div>
                <div class="card-action">
                    <a href="{% url 'finches_update' finch.id %}" class="teal-text darken-4">Update</a>
                    <a href="{% url 'finches_delete' finch.id %}" class="teal-text darken-4">Delete</a>
                </div>
            </div>
            {% for photo in finch.photo_set.all %}
                <img class="responsive-img card-panel" src="{{photo.url}}">
            {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}

            <form action="{% url 'add_photo' finch.id %}" enctype="multipart/form-data" method="post" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <button type="submit" class="btn">Upload Photo</button>
            </form>
        </div>
        
        <div class="col s6">
            <form action="{% url 'add_feeding' finch.id %}" method="post">
                {% csrf_token %}
                {{ feeding_form.as_p }}
                <input type="submit" value="Add Feeding" class="btn">
            </form>
            <br>
            {% if finch.fed_for_today %}
                <div class="card-panel teal-text center-align">
                    {{ finch.name }} has been fed all meals for today
                </div>
            {% else %}
                <div class="card-panel red-text center-align">
                    {{ finch.name }} might be hungry
                </div>
            {% endif %}
            <hr>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Meal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feeding in finch.feeding_set.all %}
                    <tr>
                        <td>{{ feeding.date }}</td>
                        <td>{{ feeding.get_meal_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Associated Feeder Section -->
    <hr>
    <div class="row">
        <div class="col s6">
            <h3>{{ finch.name }}'s Feeders</h3>
            {% if finch.feeders.count %}
                {% for feeder in finch.feeders.all %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ feeder.name }}</span>
                            Serving {{ feeder.get_food_type_display }} in the {{ feeder.location }}
                        </div>
                        <div class="card-action">
                            <form action="{% url 'unassoc_feeder' finch.id feeder.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn red">-</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5>No Feeders</h5>
            {% endif %}
        </div>
        <!-- Available feeders: feeders_finch_doesnt_have -->
        <div class="col s6">
            <h3>Available Feeders</h3>
            {% for feeder in feeders.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ feeder.name }}</span>
                        Serving {{ feeder.get_food_type_display }} in the {{ feeder.location }}
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_feeder' finch.id feeder.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                </div>
            {% empty %}
                <h5>{{finch.name}} Already Has All Feeders Available</h5>
            {% endfor %}
        </div>
    </div>
    <!-- End Associated Feeder Section -->

    <script>
        const dateEl = document.getElementById('id_date');
        // M is Materialize's global variable
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });

        const selectEl = document.getElementById('id_meal');
        M.FormSelect.init(selectEl);
    </script>

{% endblock%}