{% extends 'base.html' %}
{% block content %}

    <h1>Finch List</h1>

    {% for finch in finches %}
        <div class="card grey lighten-3">
            <div class="card-content">
                <span class="card-title">{{ finch.name }}</span>
                <p>Breed: {{ finch.breed }}</p>
                <p>Description: {{ finch.description }}</p>
                <p>Color: {{ finch.color }}</p>
                {% if finch.size_inches > 1 %}
                    <p>Size: {{ finch.size_inches }} inches</p>
                {% else %}
                    <p>Size: {{ finch.size_inches }} inch</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock%}